body{
    background-color: gray;
    transition-timing-function: ease;
   transition-duration: 2s;
   background-image: url();
   
}
.imginicia{
    text-align: left; 
    margin-left: 550px;
   padding: 20px;
   transition-timing-function: ease;
    transition-duration: 2s;
}
.inicia{
    text-align: center;
    margin-top: -120px;
    margin-left: 150px;
    font-size: xx-large;
    padding: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition-timing-function: ease;
   transition-duration: 2s;
}
.iniciaoquesao{
    margin-top: 50px;
    text-align: center;
    color: white;
    font-family: 'Nunito', sans-serif;
    padding: 20px;
    font-size: larger;
    border: solid 10px black;
    background-color: red;
    transition-timing-function: ease;
   transition-duration: 2s;
}
.nomes{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: black;
    border: solid 10px black;
    background-color: white;
    padding: 20px;
    transition-timing-function: ease;
   transition-duration: 2s;
}
#introsova{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 20px;
    transition-timing-function: ease;
   transition-duration: 2s;
}
#imginfosova{
    border: solid 10px black;
    background-color: red;
    padding: 20px;
    transition-timing-function: ease;
   transition-duration: 2s;
}
#imgsova{
    text-align: left;
    transition-timing-function: ease;
   transition-duration: 2s;
}
#infosova{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: -140px;
    margin-left: 600px;
    font-size: xx-large;
    transition-timing-function: ease;
   transition-duration: 2s;
}
#introfade{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 20px;
    transition-timing-function: ease;
   transition-duration: 2s;
}
#imginfofade{
    border: solid 10px black;
    background-color: red;
    padding: 20px;
    transition-timing-function: ease;
   transition-duration: 2s;
}
#imgfade{
    text-align: left;
    transition-timing-function: ease;
   transition-duration: 2s;
}
#infofade{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: -140px;
    margin-left: 600px;
    font-size: xx-large;
    transition-timing-function: ease;
   transition-duration: 2s;
}
#introbreach{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 20px;
    transition-timing-function: ease;
   transition-duration: 2s;
}
#imginfobreach{
    border: solid 10px black;
    background-color: red;
    padding: 20px;
    transition-timing-function: ease;
   transition-duration: 2s;
}
#imgbreach{
    text-align: left;
    transition-timing-function: ease;
   transition-duration: 2s;
}
#infobreach{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: -140px;
    margin-left: 600px;
    font-size: xx-large;
    transition-timing-function: ease;
   transition-duration: 2s;
}
#introskye{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 20px;
    transition-timing-function: ease;
   transition-duration: 2s;
}
#imginfoskye{
    border: solid 10px black;
    background-color: red;
    padding: 20px;
    transition-timing-function: ease;
   transition-duration: 2s;
}
#imgskye{
    text-align: left;
    transition-timing-function: ease;
   transition-duration: 2s;
}
#infoskye{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: -140px;
    margin-left: 600px;
    font-size: xx-large;
    transition-timing-function: ease;
   transition-duration: 2s;
}